@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');
@font-face {
    font-family: 'fonte-destaque';
    src: url(../Fontes/impact_label/Impact\ Label.ttf) format('opentype');
    font-weight: bold;
}
@font-face {
    font-family: 'alegre';
    src: url(../Fontes/porky_s/PORKH___.TTF) format('opentype');
}

:root{
    --cor06: #6EF03C;
    --cor07: #1CBD52;
    --cor05: #cf55f1;
    --cor04: #6d1379;

    --fonte-destaque: 'fonte-destaque', cursive;
    --fonte-alegre: 'alegre', cursive;
    --fonte-extra: 'Merienda One', cursive;
}
*{
    padding: 0px;
    margin: 0px;
}
img{
    display: block;
    max-width: 100%;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

                /*   ESTRUTURA PRINCIPAL SITE   */
.estrutura{
    display: grid;
    grid-template-columns: minmax(160px, 1fr) 3fr 300px;
    grid-template-areas: 
    "header header header"
    "sidenav conteudo anuncio"
    "footer footer footer"
    ;
}
@media (max-width: 1030px){
    .estrutura{
        grid-template-areas:
        "header header header"
        "sidenav conteudo conteudo "
        "sidenav anuncio anuncio "
        "footer footer footer"
        ;
    }
}
@media (max-width: 755px){
    .estrutura{
        grid-template-columns: 100%;
        grid-template-areas:
        "header"
        "sidenav"
        "conteudo"
        "anuncio "
        "footer"
        ;
    }
}

                /*   CABEÇALHO   */
.header{
    grid-area: header;
    background-image: linear-gradient(to right, var(--cor07), var(--cor06));
    padding: 25px;
    /*display: grid;
    grid-template-columns: 1fr auto;*/
    align-items: center;
    box-shadow: 5px 5px 15px  rgba(210, 55, 241, 0.35);
}
.header a{
    display: grid;
    grid-template-columns:1fr;
    
}
.header h1{
    font-size: 1.6em;
}
/* com retirada da imagem
.header a img{
    max-width: auto;
}*/
.logo{
    font-family: var(--fonte-alegre);
    /*font-style: italic;*/
    font-size: 2.5em;
    color: var(--cor04);
    padding-left: 100px;
    text-shadow: 8px 4px rgba(255, 255, 255, 0.603);
}
.band{
    max-width: 130px;
    padding-right: 30px;
}
@media(max-width: 590px){
    .header{
        padding-left: 5px;
    }
    .header .logo{
        display: grid;
        grid-template-columns: 1fr;   
        padding-left: 0; 
    }
    .header .logo h1{
        font-size: 1.1em;
        text-align: center;
        padding: 0;
    }
}


                /*   NAVEGAÇÃO LATERAL   */
.sidenav{
    grid-area: sidenav;
    padding: 30x;
    margin-top: 50px;
    padding: 10px;
}
.sidenav li a{
    display: block;
    max-width: 130px;
    min-width: 80px;
    margin: 0px auto 30px auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 3px rgba(210, 55, 241, 0.507);
    transition: .2s;
}
.sidenav li a:hover{
    background-color: var(--cor04);
}
.sidenav li a img{
    border-radius: 10px;
}

@media(max-width: 755px){
    .sidenav{
        position: relative;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;        
    }
    .sidenav ul{
        display: flex;
    }
    .sidenav li a{
        margin: 0px 30px 0px 0px;
    }
}

                /*   ÁREA DE CONTEUDO   */
.conteudo{
    grid-area: conteudo;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    margin: 0px auto;
    padding: 30px;
    border-radius: 5px;
    /*box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);*/
}
@media(max-width: 590px){
    .conteudo{
        grid-template-columns: auto;
    }
}
.ponta-ponta{
    grid-column: 1 / -1;
}
.imagem-titulo{
    row-gap: span 2;
    align-self: end;
}
p{
    font-size: 1.2em;
    line-height: 1.5;
    letter-spacing: -0.005em;
    color: rgba(0, 0, 0, 0.658);
    text-indent: 50px;
}
.info {
   display: grid;
   grid-template-columns: 1fr 1fr; 
   text-align: left;
}
@media(max-width: 755px){
    .info {
        display: grid;
        grid-template-columns: auto; 
     }
     .info p+p{
         margin-top: 20px;
     }
}
.p-info1{
    padding-right: 20px;
}
.p-info2{
    padding-left: 20px;
}
.conteudo h1{
    font-family: var(--fonte-destaque);
    font-size: 3.50em;
    line-height: 1;
    font-weight: 700;
    color: var(--cor04);
    padding-top: 25px;
}
.span{
    font-size: 1em;
    font-style: italic;
    color: var(--cor04);
    font-weight: bold;
}
.citacao, .atributos{
    background-image: linear-gradient(to right, var(--cor07), var(--cor06));
    align-self: start;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
}
.citacao p{
    font-size: 1.5em;
    font-style: italic;
    text-align: center;
    color: var(--cor04);
    max-width: 500px;
    margin: 0px auto;
}
.atributos li{
    color: var(--cor04);
    font-size: 1.26em;
    padding: 15px;
}
.atributos li + li{
    border-top: 2px solid var(--cor04);
}
.pessoal{
    font-weight: bolder;
    font-style: italic;
}
.pessoal:hover{
    background-color: var(--cor04);
    color: white;
}

                /*   BARRA LATERAL ESQUERDA   */
.anuncio{
    grid-area: anuncio;
    display: grid;
    align-content: start;
    padding: 25px;
    margin-top: 50px;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
   
}
.itens-anuncio{
    display: grid;
    
}
.itens-anuncio img{
    grid-column: 1;
    grid-row: 1/3;
    align-self: end;
    border-radius: 5px 5px 0 0;
}
.anuncio p{
    padding: 5px;
    color: var(--cor04);
    background-image: linear-gradient(to right, var(--cor07), var(--cor06));
    grid-column: 1;
    grid-row: 2;
    align-self: end;
}
/* -----------------------------------------------------consertar
@media(max-width: 590px){
    .anuncio img{
        max-width: 80px;
    }
    .anuncio p{
        font-size: 90vh;
    }
}
*/


                /*   FOOTER FIM   */
.footer{
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: linear-gradient(to right, var(--cor07), var(--cor06));
}
@media(max-width: 590px){
    .footer{
        grid-template-columns: auto;
    }
    .informacao-adicional li{
        padding: 0px !important;
    }
    .footer p{
        text-align: left !important;
    }
}
@media(max-width: 755px){
    .footer{
        grid-template-columns: auto;
    }
    .footer p{
        text-align: center !important;
    }
    .informacao-adicional{
        padding-left: 5px !important;
    }
}
.informacao-adicional{
    font-size: 1.2em;
    color: rgb(0, 0, 0);
    padding: 30px;
}
.informacao-adicional li{
    padding-left: 100px;
}
.footer p{
    text-align: right;
    padding: 10px 10px 30px 10px;
    font-weight: bold;
}
.footer a:hover{
    background-color: var(--cor04);
    color: white;
}
.footer a.lr::after{
    content: '\00A0\2660';
}   

.fotosdodia{
    display: grid;
    grid-template-columns: repeat(3, 1fr)/*1fr 1fr 1fr*/;
    max-width: 800px;
    padding: 10px;
    margin: 0 auto;
    grid-gap: 20px;
}