@charset "UTF/8";

*{
    margin: 0px;
    padding: 0px;
    font-family: cursive;
}

body{
    background: rgba(68, 3, 52, 0.473);
    background-image: url(../imagens/imagemdefundo.png);
    background-size: 200px;
}
main{
    margin: 4vw auto 0 auto;
    max-width: 1000px;
    background: rgb(20, 184, 15);
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(122, 43, 226);
}
h2{
    padding: 30px;    
    text-align: justify;
    color: rgba(0, 0, 0, 0.699);
}
div{
    text-align: center;
}
img{
    max-width: 50vh;
    border-radius: 5px;
}
p{
    font-weight: bolder;
    margin-top: 10px;
}
p a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
p a:hover{
    background-color: rgb(112, 12, 126);
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
}
.entrar{
    padding-bottom: 30px;
}